.body {
    margin: 0;
    padding: 0;
    background-color: #191919;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.header {
    height: 67px;
    width: 100%;
    margin-top: 26px;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 160px;
    height: 33px;
    margin-top: 17px;
    margin-left: 50px;
}

.header__buttons {
    width: 403px;
    height: 67px;
    margin-right: 50px;
    display: flex;
}

.header__buttons_home {
    width: 49px;
    height: 27px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
    color: white;
}

.header__buttons_episodes {
    width: 75px;
    height: 27px;
    margin-top: 20px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
    color: white;
}

.header__buttons_about {
    width: 51px;
    height: 27px;
    margin-top: 20px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
    color: white;
}

.header__buttons_contact {
    width: 68px;
    height: 27px;
    margin-top: 20px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
    color: white;
}

.home {
    width: 100%;
    height: 913px;
    display: flex;
}

.home__main-photo {
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 0.44px;
    width: 650px;
    height: 873.44px;
    z-index: -1;
}

.home__main-lines {
    width: 68px;
    height: 74px;
    position: absolute;
    margin-left: 44px;
    margin-top: 14px;
}

.home__content {
    width: 530px;
    height: 610.58px;
    margin-top: 163px;
    margin-left: 60px;
}

.home__content_text {
    margin-top: 163px;
    font-size: 70px;
    font-weight: 400;
    line-height: 88px;
    color: white;
    letter-spacing: 3.2px;
}

.home__span {
    font-weight: 700;
}

.home__content_line {
    position: absolute;
    margin-top: 420.58px;
    width: 135px;
    height: 11px;
}

.home__content_links {
    margin-top: 85px;
    width: 289px;
    height: 72px;
}

.home__content_links_subtitle {
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 66px;
    height: 24px;
    margin-left: 22px;
    margin-top: 0;
    margin-bottom: 16px;
}

.home__content_links_icons {
    height: 32px;
    width: 246px;
    margin-left: 22px;
}

.home__spotify {
    margin-right: 17px;
}

.home__pocket-casts {
    margin-right: 17px;
}

.home__soundcoud {
    margin-right: 17px;
}

.home__podcasts {
    margin-right: 17px;
}

.episodes {
    width: 100%;
    height: 2088px;
}

.episodes__header {
    display: flex;
    margin-left: 70px;
    width: 1300px;
    height: 99px;
    margin-top: 100.44px;
    justify-content: space-between;
    align-items: center;
}

.episodes__header_logo {
    width: 513px;
    height: 80px;
    font-weight: 400;
    font-size: 64px;
    line-height: 79.2px;
    color: white;
    letter-spacing: 2.88px;
}

.episodes__header_button {
    display: flex;
    width: 178px;
    height: 51px;
    margin-top: 23.56px;
    margin-bottom: 14.44px;
    background-color: #118DA8;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.episodes__header_button_text {
    width: 143px;
    height: 27px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: white;
}

.episodes__frame {
    display: flex;
    width: 1300px;
    height: 545px;
    margin-left: 70px;
    margin-top: 39.56px;
    background-color: black;
    border-radius: 15px;
    justify-content: center;
    margin-bottom: 60px;
}

.episodes__frame_image {
    width: 389px;
    height: 465px;
    margin-left: 40px;
    margin-top: 40px;
}

.episodes__frame_content {
    width: 778px;
    height: 465px;
    margin-left: 53px;
    margin-top: 40.44px;
}

.episodes__frame_content_topic {
    display: flex;
    width: 73px;
    height: 27px;
    margin-top: 7.56px;
    background-color: #191919;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.episodes__frame_content_topic2 {
    display: flex;
    width: 136px;
    height: 27px;
    margin-top: 7.56px;
    background-color: #191919;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: white;
}

.episodes__frame_content_topic_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: white;
}

.episodes__frame_content_num {
    width: 82px;
    height: 27px;
    color: #118DA8;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    margin-top: 48px;
}

.episodes__frame_content_title {
    width: 680px;
    height: 141px;
    color: white;
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
    margin-top: 17.56px;
    margin-bottom: 28px;
}

.episodes__frame_content_subtitle {
    width: 757px;
    height: 99px;
    color: grey;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 18px;
}

.episodes__frame_content_button {
    display: flex;
    width: 208px;
    height: 47px;
    margin-top: 18px;
    background-color: #118DA8;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: white;
}